.s3-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.s3-page {
    flex: 0 0 60%;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f0f0f0;
}

.s3-authbox {
    flex: 0 0 40%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #e0e0e0;
}

@media screen and (max-width: 768px) {
    .s3-page {
        display: none;
        /* Hide on mobile */
    }

    .s3-container {
        flex-direction: column;
    }

    .s3-authbox {
        flex: 1;
    }
}